.container {
  background-color: var(--color-primary);
  border-radius: 7px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  padding: 3rem;
  margin: 0 auto;
  /* margin-top: 10rem; */
  color: white;
}
.container > h1 {
  font-size: 1.7rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.container > p {
  color: var(--color-secondary);
}
.contactInfo {
  margin-top: 4rem;
}
.contactInfoItem {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
  gap: 1rem;
}
.contactInfoItem > p {
  font-size: 1.1rem;
  margin-bottom: 0;
}
.contactInfoItem > svg {
  font-size: 1.4rem;
  color: var(--color-btn-secondary);
}
.btnDiv {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
  gap: 1rem;
}
.btnDiv > button {
  background-color: var(--color-btn-secondary);

  /* Transition properties */
  transition-property: transform, box-shadow;
  transition-duration: 0.15s;
  transition-timing-function: ease-in-out;
}
.btnDiv > button:hover {
  background-color: var(--color-btn-secondary-hover);
}
.btnDiv > button:disabled {
  background-color: var(--color-btn-secondary-disabled);
  color: var(--color-secondary);
  cursor: not-allowed;
  opacity: 0.6;
}
.btnDiv > button:disabled:hover {
  transform: translateY(1px);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.btnDiv > button:disabled:active {
  transform: translateY(0);
  box-shadow: none;
}
.socialDiv {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 5rem;
}
.socialDiv > svg {
  font-size: 1.5rem;
  cursor: pointer;
}
.socialDiv > svg:hover {
  color: var(--color-btn-secondary);
}
