.event-topper-div {
  height: 23rem;
  margin: 4rem 0rem 0rem 0rem;
  background-color: #0b031b;
  color: #fff;
  border-radius: 15px;
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
}

.Event-topper-h2 {
  font-size: 4.6rem;
  color: #f50136;
}

.event-topper-para {
  font-size: 1.4rem;
  font-weight: 400;
}

@media (max-width: 798px) {
  .event-topper-div {
    height: 35rem;
  }
}
