@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600;700&family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif !important;

  --color-primary: #1a2238;
  --color-secondary: #f9f9fb;
  --color-btn-primary: #1a2238;
  --color-btn-primary-hover: #222d49;
  --color-btn-secondary: #f50136;
  --color-btn-secondary-hover: #f83861;
  --color-btn-secondary-disabled: #990122;
}

html {
  font-size: 62.5%;
  /* scroll-behavior: smooth; */
  /* 1rem = 10px */
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  /* background-color: #f1f5fd; */
  scrollbar-color: rgb(98 84 243);
  scrollbar-width: thin;
}

body::-webkit-scrollbar {
  width: 1.5rem;
}

body::-webkit-scrollbar-track {
  background-color: rgb(24 24 29);
}

body::-webkit-scrollbar-thumb {
  background: #fff;
  border: 5px solid transparent;
  border-radius: 9px;
  background-clip: content-box;
}

a {
  text-decoration: none;
  color: white;
}

li {
  list-style: none;
}

@media (max-width: 998px) {
  .container {
    max-width: 130rem;
    padding: 0 3.2rem;
  }
}

@media (max-width: 798px) {
  html {
    font-size: 50%;
  }
}
